/* ======== Global ======== */
body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: #fff;
}

/* ======== Header ======== */
header {
    text-align: center;
    padding: 40px;
}

.logo {
    width: 180px;
}

/* ======== Menu ======== */
.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: #111;
    padding: 12px;
}

.menu a {
    color: #f1c40f;
    text-decoration: none;
    font-weight: bold;
}

/* ======== Container ======== */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Info box */
.info-box {
    background: #111;
    border-left: 4px solid #f1c40f;
    padding: 20px;
    border-radius: 5px;
}

/* Mecânico */
.mechanic-photo {
    width: 100%;
    border-radius: 6px;
    margin-top: 25px;
    border: 2px solid #f1c40f;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #111;
    color: #777;
}
